body {
		color: white;
		background-color: black;
		font-size: 12pt;
}

h1 {
		text-align: center;
		color: red;
		font-weight: bold;
		
}


	  
#header {
background-color: black;
color: Red;
font-size: 32
height: 100%;
width: 100%;
}

#navigation {
color: Black;
background-color: red;
height:100%;
width:100%;
}

#news {
color: Black;
background-color: red;
heigh:100%;
width:100%;
}